#container {
    width: 100%;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

body {
    width: calc(100% - 14px);
    height: 100%;
    margin-right: 10px;
    background-color: #001c35;
}

button{
    border: 0px;
}

#top{
    align-self: center;
    width: calc(100% - 14px);
    right: 16px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

#return{
    position: absolute;
    left: 8px;
    width: 60px;
    align-self: center;
    background-color: #250074;
    height: 60px;
    border: 0px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
    color: #b2ffd7;
    transition: 500ms;
    flex: 1;
    margin: 10px;
    transition: 300ms;
}

#return:hover {
    background-color:#3d178f;
}

#backarrow{
    padding-top: 5px;
    width: 30px;
    height: 30px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
    color: #0bae6a;
    flex: 1;
    text-align: center;
    padding-top: 4px;
}

#settings{
    height:58px;
    max-width: 58px;
    flex:1;
    background-color: #001c35;
    opacity: 1;
    position: absolute;
    right: 14px;
    border-radius: 20px;
    transition: 500ms;
}

#settings:hover{
    transform: rotate(90deg);
}

#settings-image{
    padding-top: 5px;
    width: 40px;
    height: 40px
}

hr{
    border-color: #0bae6a;
    width: calc(100% - 14px);
    margin-bottom: 12px;
}

#terms-container {
    width: 100%;
    margin: 0px;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    align-self: center;
    overflow-y: scroll;
}

#terms-container::-webkit-scrollbar {
    display: none;
}

.term{
    align-self: center;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
    margin: 10px;
    background-color: #250074;
    min-height: 60px;
    height: fit-content;
    width: 100px;
    color: #b2ffd7;
    flex-grow: 1;
    transition: 300ms;
    white-space: normal;
    word-wrap: break-word;
}

#bottom {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 14px);
    height: 70px;
    margin: 0px;
}

#bottom-inputs1 {
    position: absolute;
    bottom: 5px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

#searching{
    background-color: #250074;
    width: calc(100% - 80px);
    height: 60px;
    border: 0ch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b2ffd7;
    font-size: medium;
    font-weight: 700;
    border-radius: 10px;
    visibility: visible;
    opacity: 0;
    text-align: center;
    margin: 0px;
}

#close1 {
    visibility: visible;
    opacity: 0;
    position: absolute;
    background-color: #250074;
    height: 62px;
    width: 60px;
    margin: 0px;
    right: 0px;
    border-radius: 10px;
    padding-top: 6px;
    transition: 300ms;
}

#close1:hover {
    background-color:#3d178f;
}

#bottom-inputs2 {
    position: absolute;
    bottom: 5px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

#naming{
    background-color:#250074;
    width: calc(100% - 80px);
    height: 60px;
    border: 0ch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b2ffd7;
    font-size: medium;
    font-weight: 700;
    border-radius: 10px;
    visibility: visible;
    opacity: 0;
    text-align: center;
    margin: 0px;
}

#close2 {
    visibility: visible;
    opacity: 0;
    position: absolute;
    background-color: #250074;
    height: 62px;
    width: 60px;
    margin: 0px;
    right: 0px;
    border-radius: 10px;
    padding-top: 6px;
    transition: 300ms;
}

#close2:hover {
    background-color:#3d178f;
}

#bottom-buttons {
    position: absolute;
    bottom: 65px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

#add {
    visibility: visible;
    position: absolute;
    background-color: #250074;
    height: 60px;
    width: 60px;
    margin: 0px;
    border-radius: 10px;
    color:#b2ffd7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    padding-bottom: 7px;
    transition: 300ms;
}

#add:hover {
    background-color:#3d178f;
}

#search {
    height: 60px;
    width: calc(100% - 80px);
    font-size: medium;
    padding-bottom: 0px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    margin: 0px;
    right: 0px;
    color:#b2ffd7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #250074;
    transition: 300ms;
}

#search:hover {
    background-color:#3d178f;
}

::placeholder {
    color: #83ac97;
    opacity: 0.5;
}

#X-image{
    width: 25px;
    height: 25px;
    opacity: 1;
}

#trash{
    width: 40px;
    height: 40px
}

@keyframes grow{
    from{
        width: 60px;
    }
    to{
        width: calc(100% - 80px);
    }
}

@keyframes shrink{
    from{
        width: calc(100% - 80px);
    }
    to{
        width: 60px
    }
}

@keyframes fadeout{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

@keyframes color1 {
    from {
        background-color: #250074;
    }
    to{
        background-color: #3d178f;
    }
}

@keyframes color2 {
    from {
        background-color: #003c28;
    }
    to{
        background-color: #125e44;
    }
}